.home-container h1 {
    font-family: var(--font-family-logo);
}

.home-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 450px;
    max-height: calc(100vh - 80px);
    background: url(../assets/774-7745895_shop-for-men-man.png) bottom no-repeat;
    background-size: contain;
}

@media (max-width:768px) {
    .home-container::after {
        max-width: 100%;
        background:
            linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
            url(../assets/774-7745895_shop-for-men-man.png) bottom no-repeat;
        background-size: contain;
    }

    .home-container *{
        color: #fff !important;
    }
}